.footer{
    background: rgb(28,28,28);
    background: linear-gradient(90deg, rgba(28,28,28,1) 0%, rgba(255,29,29,1) 50%, rgba(28,28,28,1) 100%);
    border-top: 1px solid black;
    align-items: center;
}